*.local
*.obj
*.groupproj
*/__history/
*/*.lib
*/__astcache/
/shell.c
/sqlite3.c
/sqlite3.h
/sqlite3ext.h
/__recovery
/Win32/Debug/Project1.ilc
/Win32/Debug/Project1.ild
/Win32/Debug/Project1.ilf
/Win32/Debug/Project1.ils
/Win32/Debug/Project1.map
/Win32/Debug/Project1.obj
/Win32/Debug/Project1.pdi
/Win32/Debug/Project1.res
/Win32/Debug/Project1.tds
/Win32/Debug/Project1PCH1.pch
/Win32/Debug/sqlite3.obj
/Win32/Debug/Unit1.obj
